{% extends "avelon_healthcare/base.html" %}

{% block title %}Особистий кабінет{% endblock %}

{% block content %}
    <h1 class="mb-4">Особистий кабінет</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">Мої дані</h4>

            <p><strong>Логін:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>

            <p>
                <strong>Пошта підтверджена:</strong>
                {% if request.user.email_verified %}
                    <span class="text-success">Так</span>
                {% else %}
                    <span class="text-danger">Ні</span>
                {% endif %}
            </p>

            <p>
    <strong>ПІБ:</strong>
    {{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.middle_name }}
</p>
            <p>
                <strong>Телефон:</strong>
                {{ request.user.phone|default:"Не вказано" }}
            </p>

            <p>
                <strong>Дата народження:</strong>
                {{ request.user.birth_date|default:"Не вказано" }}
            </p>

            <p>
                <strong>Канал зв’язку:</strong>
                {{ request.user.get_preferred_contact_channel_display|default:"Не обрано" }}
            </p>

            <p><strong>Знижка:</strong> {{ request.user.discount }}%</p>

            <div class="d-flex flex-wrap gap-2 mt-3">
                <a href="{% url 'accounts:profile_update' %}" class="btn btn-outline-dark">
                    Редагувати профіль
                </a>
                <a href="{% url 'accounts:password_change' %}" class="btn btn-outline-warning">
                    Змінити пароль
                </a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-4">
        <a href="{% url 'appointments:appointment_list' %}" class="btn btn-outline-primary">
            Мої записи до лікаря
        </a>

        <a href="{% url 'orders:order_list' %}" class="btn btn-outline-secondary">
            Мої замовлення аналізів
        </a>
    </div>

    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-danger">
        Вийти
    </a>
{% endblock %}