{% extends "avelon_healthcare/base.html" %}

{% block title %}Встановлення нового пароля{% endblock %}

{% block content %}
    <div style="max-width: 700px;">
        <h1 class="mb-4">Встановлення нового пароля</h1>

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                {% if form.new_password1.help_text %}
                    <div class="form-text">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <button type="submit" class="btn btn-primary">Зберегти новий пароль</button>
        </form>
    </div>
{% endblock %}