<footer class="bg-light border-top mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Avelon Healthcare</h5>
                <p class="mb-1">Багатопрофільна клініка</p>
                <p class="mb-0">Пн–Сб: 08:00–20:00</p>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Розділи</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'core:about' %}" class="text-decoration-none">
                            Про клініку
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:contacts' %}" class="text-decoration-none">
                            Контакти
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:promotions' %}" class="text-decoration-none">
                            Акції
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'reviews:review_list' %}" class="text-decoration-none">
                            Відгуки
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Соціальні мережі</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://facebook.com" target="_blank" class="text-decoration-none">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank" class="text-decoration-none">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com" target="_blank" class="text-decoration-none">
                            YouTube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>